* {
background-color: black;
}

/* Heading  */
h1 {
text-align: center;
font-style: italic;
}

/* Logo Tublatanka sticks to the top of the page when scrolling  */
div.sticky {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
}


/* Header/logo/image Title */
.header {
padding: 10px;
text-align: center;
background-color: black;
}

/* Table/Table headings/Table Data styles */
table, th, td {
border:1px white;
border-collapse: collapse;
background-color: black

}

table {
border-spacing: 10px;
width: 50%;
text-align: center;
margin-left: auto;
margin-right: auto;
color: white;
background-color: black;
}

th { 
background-color: black;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 90px;
padding-right: 90px;
font-size: x-large;
color:white;
font-style: italic;
border: solid;
border-color:rgba(192, 16, 16, 0.621);
}

td {
border: solid;
border-color: black;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 30px;
background-color:rgba(192, 16, 16, 0.621);
}



@media screen and (max-width:600px) {
 .table-responsive {
  float: none;
  width: 100%;
  }
}

@media screen and (max-width:600px) {
 table {
  float: none;
  width: 100%;
  }
}